html, body, main {
    height: 100%;
}

body {
    background-image: url(/static/images/TheRulesWallpaper1.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}

.btn-info-partida {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 17px;
    display: none;
    justify-content: center;
    z-index: 2;
}


#modal_reglas_palabras h4 {
    font-size: 22px;
}

#modal_reglas_palabras .collection-item {
    padding-right: 45px;
    position: relative;
}

#modal_reglas_palabras .collection-item i {
    position: absolute;
    right: 5px;
    top: 9px;
    color: #fd4949;
}

.danger-color {
    color: #fd4949;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #e8e8e8;
}

.btn-info-partida button {
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #595959;
    font-weight: bold;
}

.btn-info-partida h1 {
    margin: 0;
    font-size: 2em;
    color: #585858;
    padding-top: 3px;
}

.corner {
    position: absolute;
    /*background-color: #5a5a5a;*/
    width: 70px;
    height: 70px;
    z-index: 2;
}

.corner i {
    color: white;
    position: absolute;
    top: 16px;
    font-size: 31px;
}

.corner-black i {
    color: #595959;
}

.left-top {
    top:0;
    left:0;
    /*box-shadow: inset -4px -4px 20px 4px #383838;*/
    border-bottom-right-radius: 72%;
}

.left-top i {
    left: 13px;
}

.right-top {
    top:0;
    right:0;
    /*box-shadow: inset 4px 4px 20px 4px #383838;*/
    border-bottom-left-radius: 72%;
}

.right-top i {
    right: 13px;
}

main {
    padding-top: 36px;
}

.logo {
    font-family: 'Six Caps', sans-serif;
    color: white;
    text-align: center;
    font-size: 3.7em;
    height: 33.33333333333333%;
    padding-top: 3%;
}

.players {
    height: 33.33333333333333%;
    padding-top: 20%;
}

.setup {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.setup i {
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 3px black;
}

.setup p {
    color: white;
    font-size: 17px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0px 0px 3px black;
}

.players-picker {
    padding-left: 1.7em;
    padding-right: 1.7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remove-player, .add-player {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #52594b;
}

.players-picker i {
    color: white;
    font-size: 32px;
}

.player-count {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #53594b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}

.rules {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: white;
    z-index: 3;
    overflow: auto;
    transform: translateX(-110%);
    transition: .3s;
    box-shadow: -6px 0px 20px 5px #777;
}

.rules.active {
    transform: translateX(0%);
}

.header-rules-list {
    display: flex;
    padding-top: .6em;
    padding-bottom: .5em;
    padding-right: 30px;
    justify-content: space-between;
    padding-left: 25px;
    height: 76px;
    align-items: center;
    font-size: 3em;
}

.header-rules-list > div {
    display: flex;
    align-items: flex-start;
    padding-top: 4px;
}

.header-rules-list i {
    font-size: 32px;
}

.rules h1 {
    margin: 0;
    color: black;
    font-size: .6em;
    font-family: 'Source Sans Pro', sans-serif;
}

.rules i {
    color: black;
}

.rule {
    padding: 5px;
    display: flex;
    padding-left: 15px;
}

.rule-image {
    width: 70px;
}

.rule-info {
    padding: 0 !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px !important;
    padding-left: 5px !important;
}

.rule-info h1 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 8px;
    padding-bottom: 5px;
}

.rule-info p {
    color: #5a5a5a;
    text-align: justify;
    font-size: 12px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.rule-switch {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px !important;
}

.switch {
    display: flex;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #307fd0;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #676767;
}

.start-game {
    height: 33.33333333333333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.start-game > article {
    padding: 20px;
    width: 100%;
    height: 70px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* background-color: gray; */
    background-color: #53594b;
    box-shadow: 0px 0px 7px -2px #383838;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
}

.game {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: white;
    z-index: 1;
    transform: translateY(110%);
    transition: .3s;
    padding-top: 75px;
    box-shadow: 0px -6px 20px 5px #545454
}

.game.active {
    transform: translateY(0%);
}

.current-rule-name {
    padding: .8em;
    padding-top: .4em;
    padding-bottom: .4em;
    height: 15%;
    display: flex;
    align-items: center;
}

.current-rule-name div {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 23px;
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-rule-name h1 {
    color: #5a5a5a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    margin: 0;
    text-align: center;
    padding: 5px;
}

.current-rule {
    height: 65%;
    padding: .8em;
    padding-top: .4em;
    position: relative;
}

.active_rule {
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    border-radius: 23px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
    position: relative;
}

.txt-rule {
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    color: #595959;
    text-shadow: 0px 0px 5px #b3b3b3;
}

.shoot {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 20px;
    bottom: 20px;
    background-image: url(/static/images/shoot.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.fade-rule {
    opacity: 0;
}

.next-rule {
    height: 20%;
    padding: .8em;
    padding-top: 10px;
}

.bg-next-rule {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.bg-next-rule > div {
    display: flex;
    align-items: center;
}


.bg-next-rule i {
    color: #5a5a5a;
    font-size: 40px;
}

.dice {
    flex-grow: 1;
    color: #5a5a5a;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
}